/**
*
* jQuery Color Picker Plugin
* URL: http://www.codecanyon.net/user/bamdaa
* Version: 1.2.1
* Author: BamDaa
* Author URL: http://www.codecanyon.net/user/bamdaa
*
*/

/* === Picker Popup Window === */
.bmd-picker-window{ 
	display: none;
	left: 0;
	top: 5px;
	position: absolute;
	background: #f5f5f5;
	border: 1px solid #fff;

	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;

	padding: 4px;

	z-index: 515;
	-webkit-box-shadow: 0px 0px 10px rgba(50, 50, 50, 0.5);
	-moz-box-shadow:    0px 0px 10px rgba(50, 50, 50, 0.5);
	box-shadow:         0px 0px 10px rgba(50, 50, 50, 0.5);	
}

/* === Colors Unordered list === */
.bmd-color-list{
	margin: 0;
	padding: 0;	
	list-style-type: none;
}

/* === Colors list item === */
.bmd-color-list > li{
	padding: 0;
	margin: 1px;
	float: left;
	list-style-type: none;
}

.bmd-color-list > li.split-color-row{ cleatr: both; display: block; float: none; }

/* === Item Anchor === */
.bmd-color-list > li > a,
.bmd-color-list > li > a:hover,
.bmd-color-list > li > a:active
{
	padding: 0;
	margin: 0;
	display: block;
	height: 16px;
	width: 16px;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	border: 0;
	border-bottom: 1px solid rgba(0,0,0,0.2);
	outline: 0;
}

/* === Insert Hex Color Code === */
.hexColorForm{
	clear: both;
	display: block;
	float: right;
	text-align: right;
	margin-top: 5px;
	padding-top: 5px;
	border-top: 1px solid #ddd;
	width: 100%;
}

/* === Firefox normalize === */
#hexColorInput::-moz-focus-inner,
#hexColorButton::-moz-focus-inner {
    border: 0;
    padding: 0;
}

/* === Color Input Text, Input Button  === */
#hexColorInput, #hexColorButton{
	font: 11px Tahoma;
	border: 2px solid #ddd;
	padding: 3px;
	margin: 0;
	outline: none;
	display: inline-block;
	line-height: normal !important;
}

/* === Color Input Text === */
#hexColorInput{
	border-right: 0;
	-webkit-border-radius: 3px 0px 0px 3px;
	-moz-border-radius: 3px 0px 0px 3px;
	border-radius: 3px 0px 0px 3px;
	width: 50px;
	padding-left: 3px;
}

/* === Color Input Text Focus  === */
#hexColorInput:focus{ 
	border-color:  #297a1b;
}

/* === Color Input Button  === */
#hexColorButton{
	background: #392;
	border-left: 0;
	border-color: rgba(0,0,0,0.2);
	-webkit-border-radius: 0 3px 3px 0;
	-moz-border-radius: 0 3px 3px 0;
	border-radius: 0 3px 3px 0;
	color: #fff;
}