img.item-image {
    /*margin-bottom: 7px;*/
}

.item-details {
    padding: 7px 8px;
    border-left: 1px solid #ECECEC;
    border-right: 1px solid #ECECEC;
    border-bottom: 1px solid #ECECEC;
    background: #ffffff;
}

.image-wrapper {
    background-color: #fff;
    border-bottom: none;
    border-top: 1px solid #ECECEC;
    border-left: 1px solid #ECECEC;
    border-right: 1px solid #ECECEC;
    max-width: 100%;
    overflow: hidden;
}

/**/

.item-details a {
    text-decoration: none;
}

.item-price {
    text-align: right;
    background-color: transparent !important;
    z-index: 99;
    margin-right: 10px;
    margin-top: 0;
}

.item-image img {
    max-width: 100% !important;
    width: 100%;
    border-radius: 0!important;
    box-shadow: none!important;
    margin: 0!important;
    border: none!important;
}