img.item-image {
    /*margin-bottom: 16px;*/
}

.item-details {
    text-align: center;
    font-size: 12px;
    padding: 5px 5px;
    border-left: 1px solid #dfdfdf;
    border-right: 1px solid #dfdfdf;
    border-bottom: 1px solid #dfdfdf;
    background: #ffffff;
}

.image-wrapper {
    background-color: #fff;
    border-bottom: none;
    border-top: 1px solid #dfdfdf;
    border-left: 1px solid #dfdfdf;
    border-right: 1px solid #dfdfdf;
    max-width: 100%;
    overflow: hidden;
}


.item-image-anchor {
    width: 100%;
}

.image-wrapper {
    overflow: hidden;
    justify-content: center;
    margin: 0 auto;
    position: relative;
}

.item-image img {
    max-width: 100%;
    width: 100%;
    border-radius: 0!important;
    box-shadow: none!important;
    margin: 0!important;
    border: none!important;
}

.item-details a {
    text-decoration: none;
}

.item-price {
    float: right;
    color: #f5f5f5;
    z-index: 99;
    padding: 3px 13px;
    margin-right: -6px;
    margin-top: -50px;
    position: relative;
}

.price-margin-1 {
    margin-top: -106px;
}

.price-margin-2 {
    margin-top: -106px;
}

.price-margin-4 {
    margin-top: -86px;
}

.item-title {
    clear: both;
    padding: 9px 38px;

}