
.wrap div.updated, .wrap div.errorMessage, div.infoMessage, .media-upload-form div.error {
    margin: 5px 0 15px;
}

div.updated, div.errorMessage, p {
    margin: .5em 0;
    padding: 2px;
}

div.updated {
    background-color: #fff;
    border-left: 4px solid #7ad03a;
    -webkit-box-shadow: 0 1px 1px 0 rgba(0, 0, 0, .1);
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, .1);
}

div.admin_error {
    display: block;
    background-color: #fff;
    border-left: 4px solid darkred;
    -webkit-box-shadow: 0 1px 1px 0 rgba(0, 0, 0, .1);
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, .1);
    padding: 5px;
    margin: 10px 0;
}

div.infoMessage {
    display: block;
    background-color: #fff;
    border-left: 4px solid #f1c40f;
    -webkit-box-shadow: 0 1px 1px 0 rgba(0, 0, 0, .1);
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, .1);
    padding: 5px;
}

div.updated .errorMessage #message {
    display: block;
    border: 0;
    padding: 1px 12px;
}

div.etsy-list-info ul {
    list-style: none;
    margin: 10px 0;
}

div.etsy-list-info td.spacing, th.spacing {
    width: 25%;
}

.right-align {
    text-align: right;
}

.left {
    text-align: left;
}

.shortcodes ul {
    list-style-type: none;
    margin: 0;
    background-color: #2c3e50;
}

.shortcodes li {
    border-bottom: 1px solid #34495e;
    cursor: pointer;
    margin: 0;
}

.shortcodes li:hover {
    background-color: #34495e;
    color: #bdc3c7;
}

.shortcodes a {
    display: block;
    padding: 5px;
    line-height: 25px;
    color: #bdc3c7;

}

.shopSectionsSidebar ul {
    list-style-type: none;
    margin: 0;
}

.shopSectionsSidebar li {
    border-bottom: 1px solid #EAEAEA;
    cursor: pointer;
    margin: 0;
}

.shopSectionsSidebar li:hover {
    color: #bdc3c7;
}

.shopSectionsSidebar a {
    display: block;
    padding: 5px;
    line-height: 25px;
}

.item-block-1 {
    margin: 0;
    padding: 30px 0 0 0;
}

.category-select {
    font-size: 12px;
    padding: 10px 0;
    border-top: 1px solid #EAEAEA;
}

.category-select label {
    float: left;
    margin: 1px;
    padding-right: 10px;
    font-size: 12px;
}

.item-mat-details {
    margin-top: 10px;
    clear: both;
}

.details-container {
    margin-left: 30px;
}

.item-price-details {
    font-size: 24px;
    padding: 10px 0;
}

.item-details {
    font-size: 14px;
    padding-bottom: 0;
}

/* Overwrite table properties */

.etsy360-table table {
    border-collapse: collapse;
    border-spacing: 0;
}

.etsy360-table td {
    border-top: 1px solid #EAEAEA;
    padding: 6px 10px 6px 6px;
    font-weight: normal;
    text-align: left;
}

.etsy360-table.shipping td {
    width: 30%;
}

.etsy360-table.policies td.widthFix {
    width: 30%;
}

/* !table */

.clearfix:before, .clearfix:after {
    display: table;
    content: "";
}

ul {
    padding: 0;
}

html.btn {
    margin-bottom: 0;
    padding-top: 10px;
    padding-bottom: 10px;
    font-weight: bold;
    text-transform: uppercase;
    width: 116px;
    padding-left: 0;
    padding-right: 0;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

html.no-touch .picture .img-overlay .btn {
    position: absolute;
    left: 50%;
    top: 50%;
}

.item-title {
    color: #f17288 !important;
    text-decoration: none;
}

.color-salmon {
    color: #f17288 !important;
}

.span2-details {
    float: left;
    width: 50%;
}

.span7-details {
    width: 50%;
}

.image-wrapper {
    position: relative;
    width: 100%;
}

.item-image-anchor img {
    max-width: none!important;
}

.image-details-wrapper {
    height: 500px;
    width: 500px;
}

/* Image Details - Image Preview */

.helper {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}

#panel {
    text-align: center;
    position: relative;
}

#largeImage {
    max-width: 100%;
    overflow: hidden;
}

#thumbs {
    padding-top: 10px;
    overflow: hidden;
    text-align: center;
    position: relative;
}

#thumbs img, #largeImage {
    border: #EAEAEA 1px solid;
    padding: 6px;
    background-color: white;
    cursor: pointer;
}

#thumbs img {
    margin-right: 6px;
    text-align: center;
    display: inline;
}

.magnifier {
    background-repeat: no-repeat;
    width: 48px;
    height: 48px;
    position: absolute;
    padding: 10px;
    margin: 5px;
    display: block;
}

/* Pagintation */

.ePagination-centered {
    text-align: center;
    float: none;
}

.ePagination-right {
    text-align: right;
    float: right;
}

.ePagination-left {
    text-align: left;
    float: left;
}

.ePagination {
    padding: 20px;
    margin-bottom: 20px;
}

.pageNumber {
    display: inline-block;
    padding: 10px 19px;
    border: solid 1px #EAEAEA;
    font-size: .875em;
    font-weight: bold;
    text-decoration: none;
}

.pageNumber:hover, .pageNumber:visited {
    background: #EAEAEA;
}

.pageNumber.active {
    color: #fff;
}

a.shopDetailsButton {
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    text-transform: uppercase;
    font-size: 14px;
    padding: 5px 15px;
    text-decoration: none;
    margin: 27px 0;
}

a.shopDetailsButton:hover {
    background-color: #eb675e;
}

a.shopDetailsButton:active a {
    position: relative;
    top: 1px;
}

.pickButton {
    display: inline-block;
    background: #391;
    color: #fff;
    padding: 10px 20px;
    margin: 10px 0;
    background-origin: border-box;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    text-decoration: none;
    font: 12px Tahoma;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.3);
}

input.colorInput {
    padding: 10px 10px;
    margin: 10px 0;
    border: 0;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    text-decoration: none;
    font: 12px Tahoma;
}

/*  SECTIONS  */
.section {
    clear: both;
    padding: 0px;
    margin: 0px;
}

/*  GROUPING  */
.group:before,
.group:after {
    content: "";
    display: table;
}

.group:after {
    clear: both;
}

.group {
    zoom: 1; /* For IE 6/7 */
}

/*----- Tabs -----*/
.etabs {
    width: 100%;
    display: inline-block;
    margin: 0 10px;
    padding-left: 0;
    padding-top: 15px;
}

/*----- Tab Links -----*/
/* Clearfix */
.etab-links:after {
    display: block;
    clear: both;
    content: '';
}

ul.etab-links {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.etab-links > li {
    margin: 0;
    float: left;
    list-style: none;
}

.etab-links a {
    padding: 9px 15px;
    display: inline-block;
    border-radius: 3px 3px 0 0;
    border-top: 1px solid #EAEAEA;
    border-left: 1px solid #EAEAEA;
    border-right: 1px solid #EAEAEA;
    font-size: 16px;
    transition: all linear 0.15s;
}

.etab-links a:hover {
    text-decoration: none;
}

li.active a, li.active a:hover {
    background: #fff;
}

/*----- Content of Tabs -----*/
.etab-content {
    padding: 15px;
    margin-top: -1px;
    border-top: 1px solid #EAEAEA;
    border-radius: 3px;
    background: #fff;
}

.etab {
    display: none;
}

.etab.active {
    display: block;
    border-bottom: 1px solid #fff;
}

/* System Info */

#sysinfo .section .inside {
    padding: 15px;
    border-top: solid 1px #cccccc;
}

#sysinfo textarea {
    font-family: Consolas, 'Courier New', Courier;
    font-size: 14px;
    width: 100%;
    height: 600px;
    background-color: #f9f9f9;
    margin-top: 15px;
}

/* Settings */

.postbox-container {
    width: 49.5%;
}

.postbox-container h3 {
    font-size: 14px;
    padding: 8px 12px;
    margin: 0;
    line-height: 1.4;
}

.postbox-content {
    margin: 10px;
}

.pibfi_pinterest .xc_pin {
    width: 80px !important;
    height: 50px !important;
    top: 100px !important;
    margin-left: -1px !important;
}

/*
    Addons Styles
*/

.e360-extension {
    float: left;
    margin: 0 15px 15px 0;
    background: #fff;
    border: 1px solid #ccc;
    width: 320px;
    padding: 8px;
    height: 350px;
    position: relative;
}

.e360-extension h3 {
    margin: 0 0 8px;
    font-size: 13px;
}

.e360-extension .button-secondary {
    position: absolute;
    bottom: 8px;
    left: 8px;
}