/*
  Simple Grid
  Project Page - http://thisisdallas.github.com/Simple-Grid/
  Author - Dallas Bass
  Site - http://ninenineteen.co
*/

[class*='e360Col-'] {
    float: left;
    min-height: 1px;
    padding-right: 20px; /* column-space */
    padding-bottom: 20px;
}

.e360-grid {
    width: 100%;
    margin: 0 auto;
    overflow: hidden;
    padding-right: 10px;
}

.e360-grid:after {
    display: table;
    clear: both;
}

.e360-grid-pad {
    padding-top: 20px;
    /*padding-left: 20px; /!* grid-space to left *!/*/
    padding-right: 0; /* grid-space to right: (grid-space-left - column-space) e.g. 20px-20px=0 */
}

.e360-e360-push-right {
    float: right;
}

/* Content Columns */

.e360Col-1-1 {
    width: 100%;
}

.e360Col-2-3, .e360Col-8-12 {
    width: 66.66%;
}

.e360Col-1-2, .e360Col-6-12 {
    width: 48%;
}

.e360Col-1-3, .e360Col-4-12 {
    width: 31.33%;
}

.e360Col-1-4, .e360Col-3-12 {
    width: 23%;
}

.e360Col-1-5 {
    width: 18%;
}

.e360Col-1-6, .e360Col-2-12 {
    width: 16.667%;
}

.e360Col-1-7 {
    width: 14.28%;
}

.e360Col-1-8 {
    width: 12.5%;
}

.e360Col-1-9 {
    width: 11.1%;
}

.e360Col-1-10 {
    width: 10%;
}

.e360Col-1-11 {
    width: 9.09%;
}

.e360Col-1-12 {
    width: 8.33%
}

/* Layout Columns */

.e360Col-11-12 {
    width: 91.66%
}

.e360Col-10-12 {
    width: 83.333%;
}

.e360Col-9-12 {
    width: 75%;
}

.e360Col-5-12 {
    width: 41.66%;
}

.e360Col-7-12 {
    width: 58.33%
}

/* Pushing blocks */

.e360-push-2-3, .e360-push-8-12 {
    margin-left: 66.66%;
}

.e360-push-1-2, .e360-push-6-12 {
    margin-left: 50%;
}

.e360-push-1-3, .e360-push-4-12 {
    margin-left: 33.33%;
}

.e360-push-1-4, .e360-push-3-12 {
    margin-left: 25%;
}

.e360-push-1-5 {
    margin-left: 20%;
}

.e360-push-1-6, .e360-push-2-12 {
    margin-left: 16.667%;
}

.e360-push-1-7 {
    margin-left: 14.28%;
}

.e360-push-1-8 {
    margin-left: 12.5%;
}

.e360-push-1-9 {
    margin-left: 11.1%;
}

.e360-push-1-10 {
    margin-left: 10%;
}

.e360-push-1-11 {
    margin-left: 9.09%;
}

.e360-push-1-12 {
    margin-left: 8.33%
}

@media handheld, only screen and (max-width: 767px) {
    .e360-grid {
        width: 100%;
        min-width: 0;
        margin-left: 0;
        margin-right: 0;
        padding-left: 0; /* grid-space to left */
        padding-right: 0; /* grid-space to right: (grid-space-left - column-space) e.g. 20px-10px=10px */
    }

    [class*='e360Col-'] {
        width: auto;
        float: none;
        margin: 10px 0;
        padding-left: 0;
        padding-right: 10px; /* column-space */
    }

    /* Mobile Layout */
    [class*='mobile-e360Col-'] {
        float: left;
        margin: 0 0 10px;
        padding-left: 0;
        padding-right: 10px; /* column-space */
        padding-bottom: 0;
    }

    .mobile-e360Col-1-1 {
        width: 100%;
    }

    .mobile-e360Col-2-3, .mobile-e360Col-8-12 {
        width: 66.66%;
    }

    .mobile-e360Col-1-2, .mobile-e360Col-6-12 {
        width: 50%;
    }

    .mobile-e360Col-1-3, .mobile-e360Col-4-12 {
        width: 33.33%;
    }

    .mobile-e360Col-1-4, .mobile-e360Col-3-12 {
        width: 25%;
    }

    .mobile-e360Col-1-5 {
        width: 20%;
    }

    .mobile-e360Col-1-6, .mobile-e360Col-2-12 {
        width: 16.667%;
    }

    .mobile-e360Col-1-7 {
        width: 14.28%;
    }

    .mobile-e360Col-1-8 {
        width: 12.5%;
    }

    .mobile-e360Col-1-9 {
        width: 11.1%;
    }

    .mobile-e360Col-1-10 {
        width: 10%;
    }

    .mobile-e360Col-1-11 {
        width: 9.09%;
    }

    .mobile-e360Col-1-12 {
        width: 8.33%
    }

    /* Layout Columns */
    .mobile-e360Col-11-12 {
        width: 91.66%
    }

    .mobile-e360Col-10-12 {
        width: 83.333%;
    }

    .mobile-e360Col-9-12 {
        width: 75%;
    }

    .mobile-e360Col-5-12 {
        width: 41.66%;
    }

    .mobile-e360Col-7-12 {
        width: 58.33%
    }

    .hide-on-mobile {
        display: none !important;
        width: 0;
        height: 0;
    }
}
